@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar{
  width: 0;
}

/* Background */
.bg-banner {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

.servicesBanner{
  background-image: url("https://easyfiesta.s3.us-east-2.amazonaws.com/moreture/services/1.png");
}

.progress-bar {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 5px;
  background: #ffcc00;
  transform-origin: 0%;
  z-index: 1000;
}
